@import '../../styles/scss-variables';
@import '../../styles/mixins';

.UserHeader {
  display: flex;
  align-items: center;
  height: 6.8rem;
  background: $remedy-Global--color-dark-2;
  box-shadow: 0 1px 0 rgba(#656565, 0.5);
}

.UserHeader__user {
  display: flex;
  align-items: center;
  margin-left: 3.2rem;
  color: $remedy-Global--color-white;
  text-decoration: none;
  font-family: var(--remedy-Global--font-header);
  transition: opacity 200ms;

  &:hover {
    opacity: 0.8;
  }
}

.UserHeader__user-avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  margin-right: 1.6rem;
  object-fit: cover;
}

.UserHeader__user-info {
  max-width: 25rem;
  padding-top: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.UserHeader__user-email {
  display: block;
  font-size: 1.4rem;
  color: $remedy-Global--color-gray;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.UserHeader__icon {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  background: {
    repeat: no-repeat;
    size: 45%;
    position: center;
  };
  overflow: hidden;
  text-indent: -100rem;
  cursor: pointer;
  transition: background-color 200ms;

  &:hover {
    background-color: rgba($remedy-Global--color-white, 0.05);
  }
}

.UserHeader__settings {
  margin-left: 4rem;
}

.UserHeader__settings-icon {
  background: {
    image: url('../../assets/images/icon-settings.svg');
  };
  overflow: hidden;
  text-indent: -100rem;

  &:after {
    display: none;
  }
}

.UserHeader__help-icon {
  background: {
    image: url('../../assets/images/icon-info.svg');
  };
}

.UserHeader__notifications {
  margin-right: 2.8rem;
  margin-left: auto;
}

.UserHeader__notifications-icon {
  position: relative;
  background: {
    image: url('../../assets/images/icon-notifications.svg');
    size: 1.5rem 1.7rem;
  };

  &--unread {
    &:before {
      content: '';
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;
      top: 1.1rem;
      right: 1.25rem;
      border-radius: 0.6rem;
      background: $remedy-Global--color-green;
      z-index: 2;
      transition: box-shadow 200ms
    }
  }
}

.UserHeader__notifications-list {
  right: 0;
  padding: 2.4rem;
}
