@import '../../styles/variables';
@import '../../styles/mixins';

.UserContainer {
  display: flex;
}

.UserContainer__sidebar {
  width: 24rem;
  min-height: 100vh;
}

.UserContainer__main {
  flex-grow: 1;
}

.UserContainer__header {
  position: sticky;
  top: 0;
  z-index: 2;
}
