@import "../../styles/scss-variables";
@import "../../styles/mixins";

$letterSpacing014: 0.014rem;

.UserContainer__nav {
  flex: 0 0 24.4rem;
}

.Profile {
  background-color: $remedy-Global--color-dark-2;
}
// BANNER
.Profile__banner {
  height: 14.8rem;
  padding: 0.8rem 3.2rem;
  img {
    object-fit: cover;
    object-position: center;
    z-index: 0;
  }
}
.Profile__edit-cover {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: $letterSpacing014;
  padding: 0.8rem 2rem;
  color: $remedy-Global--color-light;
  z-index: 1;
  svg {
    margin-right: 0.8rem;
    fill: $remedy-Global--color-light;
  }
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: rgba($remedy-Global--color-gray, 0.2);
  }
}

.Profile__wrap {
  padding: 3.2rem;
  gap: 0 3.2rem;
}

// LEFT CONTENT
.Profile__header {
  margin-top: -6.4rem;
  margin-bottom: 3.4rem;
  z-index: 1;
}
.Profile__header-avatar {
  max-width: 12rem;
  height: 12rem;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1.8rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.Profile__header--dropdown {
  width: 3.8rem;
  height: 3.8rem;
  margin-top: 6.4rem;
  svg {
    fill: $remedy-Global--color-light;
  }
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: $remedy-Global--color-tooltip;
  }
}
.Profile__header-name {
  font-family: var(--remedy-Global--font-header);
  font-size: 3.2rem;
  line-height: 1;
  margin-bottom: 0.8rem;
  svg {
    width: 2rem;
    height: 2rem;
    fill: $remedy-Global--color-green;
  }
}
.Profile__header-contacts {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: $letterSpacing014;
  margin-bottom: 2.8rem;
}
.Profile__header-links {
  .UIButton {
    margin-right: 1.8rem;
  }
}
.Profile__header-link {
  flex: 0 0 3.6rem;
  max-width: 3.6rem;
  height: 3.6rem;
  svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: $remedy-Global--color-light;
  }
}

// DESCRIPTION
.Profile__description {
  margin-bottom: 3rem;
}
.Profile__text {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: $letterSpacing014;
  &--subtitle {
    color: $remedy-Global--color-gray;
    margin-bottom: 2.8rem;
    line-height: 1;
  }
  &--mb-14 {
    margin-bottom: 1.4rem;
  }
}
.Profile__counters {
  margin-bottom: 4.4rem;
}
.Profile__counter {
  flex: 0 1 12.5rem;
}
.Profile__counter-number {
  font-size: 2.4rem;
  line-height: 1;
  margin-bottom: 1rem;
  span {
    color: $remedy-Global--color-green;
  }
}
.Profile__counter-text {
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0.012rem;
  svg {
    flex: 0 0 1.2rem;
    max-width: 1.2rem;
    height: 1.2rem;
    margin-left: 0.8rem;
    fill: $remedy-Global--color-gray;
  }
}

// EXPERIENCE & EDU LIST
.Profile__list {
  list-style: none;
  padding-left: 1.4rem;
  margin-bottom: 2.3rem;
}
.Profile__list-item {
  padding-bottom: 3.3rem;
  &:before {
    content: "";
    position: absolute;
    top: 0.3rem;
    left: -1px;
    width: 0.2rem;
    height: 100%;
    background-color: rgba($remedy-Global--color-dark-1, 0.5);
  }
  &:last-of-type:before {
    display: none;
  }
}
.Profile__list-title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.016rem;
  margin-bottom: 1.3rem;
  padding-left: 1.4rem;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: $remedy-Global--color-green;
    box-shadow: 0 0 0 0.2rem $remedy-Global--color-dark-2,
      0 0 0 0.4rem rgba($remedy-Global--color-dark-1, 0.5);
  }
}
.Profile__list-link {
  cursor: pointer;
  svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: $remedy-Global--color-green;
  }
}
.Profile__list-date {
  padding-left: 1.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.012rem;
  color: $remedy-Global--color-gray;
}

// RIGHT BAR
.Profile__side {
  flex: 0 0 32%;
  max-width: 32%;
}
