@import "../../styles/scss-variables";
@import "../../styles/mixins";

.Creation {
  padding: 0 3.2rem;
  background-color: $remedy-Global--color-dark-2;
  font-family: var(--remedy-Global--font-text);
  &__header {
    padding-top: 3rem;
    margin-bottom: 3.5rem;
  }
  &__title {
    font-size: 3.6rem;
    margin-bottom: 1.65rem;
    font-family: var(--remedy-Global--font-header);
  }
  &__subtitle {
    font-family: var(--remedy-Global--font-header);
    font-size: 1.2rem;
    font-weight: 800;
    color: $remedy-Global--color-green;
    text-transform: uppercase;
    padding-bottom: 0.8rem;
    margin-bottom: 1.6rem;
    border-bottom: 1px solid $remedy-Global--color-dark-4;
  }
  &__error {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.2rem;
    line-height: 110%;
    letter-spacing: 0.03rem;
    visibility: hidden;
    transform: translateY(0);
    opacity: 0;
    color: $remedy-Global--color-light;
    transition: 0.5s;
  }
  &__form {
    margin-bottom: 3.2rem;
  }
  &__item {
    &--required {
      [class*="text"]:before {
        content: "*";
      }
    }
    &--invalid {
      position: relative;
      & .Creation__error {
        opacity: 1;
        visibility: visible;
        transform: translateY(135%);
        transition: 0.5s;
      }
    }
  }
  &__counter {
    color: $remedy-Global--color-gray;
    font-size: 1.4rem;
  }
  &__label {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  &__textarea {
    resize: none;
    height: 10rem;
    &--lg {
      height: 21.5rem;
    }
  }
}
.Actions-creation {
  &__btn-back {
    position: relative;
    width: 4rem;
    height: 4rem;
    margin-right: 2.4rem;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("../../assets/images/icon-arrow-left.svg") center/2rem 2rem no-repeat;
    }
    &.UIButton--sm {
      padding: 0;
    }
  }
  &__label {
    font-size: 2rem;
  }
  &__buttons {
    & > .UIButton--green-outline {
      margin-right: 2rem;
    }
  }
}
.Information-form {
  &__row {
    margin-bottom: 3.4rem;
  }
}
.Program-details-form {
  &__tab {
    flex: 0 0 25rem;
    border-top: 1px solid $remedy-Global--color-gray;
    border-left: 1px solid $remedy-Global--color-gray;
    border-right: 1px solid $remedy-Global--color-gray;
    border-bottom: 1px solid $remedy-Global--color-green;
    &--active {
      border-color: $remedy-Global--color-green;
      border-bottom-color: transparent;
    }
    &--action {
      border-width: 0 0 1px 0;
      height: 4.6rem;

      & .UIButton {
        margin-left: 0.5rem;
        span {
          font-size: 2rem;
          margin-right: 1rem;
        }
      }
    }
  }
  &__columns {
    display: flex;
    margin: 0 -1rem 2.4rem;
    &--header {
      margin: 0 -1rem 1.2rem;
    }
  }
  &__column {
    padding: 0 1rem;
    &--type {
      flex: 0 0 13rem;
      max-width: 13rem;
    }
    &--max {
      flex: 0 0 27rem;
      max-width: 27rem;
    }
    &--currency {
      position: relative;
      & .UIInput {
        padding-left: 4.4rem;
      }
      &.active:before {
        opacity: 1;
        color: $remedy-Global--color-white;
      }
      &:before {
        content: "$";
        position: absolute;
        text-align: center;
        font: inherit;
        top: 0;
        left: 0;
        opacity: 0.5;
        color: $remedy-Global--color-gray;
        width: 6.4rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &--description {
      flex: 1 1 auto;
      max-width: 100%;
    }
    &--asset {
      flex: 0 0 50%;
      max-width: 50%;
    }
    &--asset {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  &__body1 {
    padding: 3.2rem 1.6rem;
    border: 1px solid $remedy-Global--color-green;
    border-top: none;
    background-color: $remedy-Global--color-dark-5;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__item {
    margin-bottom: 3.2rem;
  }
  &__add-url {
    margin-bottom: 3.2rem;
    color: $remedy-Global--color-green;
    cursor: pointer;
    span {
      font-size: 2rem;
      margin: 0 1rem;
    }
  }
}

// COMPONENTS
.Checkbox {
  display: flex;
  align-items: center;
  height: 100%;
  &__text {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 1.2rem;
      background-color: transparent;
      border: 1px solid $remedy-Global--color-gray;
    }
  }
  &__input {
    display: none;
    &:checked + .Checkbox__text::before {
      background: url("../../assets/images/icon-checkbox.svg") center/1.2rem no-repeat, $remedy-Global--color-green;
      border: 1px solid $remedy-Global--color-green;
    }
  }
}
.Tooltip {
  position: relative;
  &:hover {
    .Tooltip__body {
      display: block;
    }
  }
  &__icon {
    width: 2rem;
    height: 2rem;
    background: url("../../assets/images/icon-tooltip.svg") center/1.5rem no-repeat;
    transition: 0.3s;
    &:hover {
      cursor: pointer;
      transition: 0.3s;
      filter: brightness(2);
    }
  }
  &__body {
    display: none;
    position: absolute;
    bottom: 3rem;
    left: -1rem;
    width: 28rem;
    background-color: $remedy-Global--color-tooltip;
    border: 1px solid $remedy-Global--color-gray;
    padding: 1.2rem 1.6rem;
    color: $remedy-Global--color-light;
    font-size: 1.4rem;
    line-height: 140%;
    &::after {
      content: "";
      position: absolute;
      left: 1rem;
      top: 98%;
      border: 1rem solid transparent;
      border-top: 1rem solid $remedy-Global--color-tooltip;
    }
    &::before {
      content: "";
      position: absolute;
      left: 1rem;
      top: 100%;
      border: 1rem solid transparent;
      border-top: 1rem solid $remedy-Global--color-gray;
    }
  }
}
.File-upload {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  &__text {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  &__placeholder {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4.4rem;
    display: flex;
    align-items: flex-end;
    line-height: 4.4rem;
    padding-left: 1rem;
    background-size: 1.6rem 1.6rem;
    background-position: center right 1rem;
    background-repeat: no-repeat;
    &--empty {
      background-image: url("../../assets/images/icon-file-upload.svg");
      color: rgba($remedy-Global--color-gray, 0.5);
    }
    &--filled {
      background-image: url("../../assets/images/icon-cross.svg");
      color: $remedy-Global--color-white;
    }
  }
  &__input {
    &.UIInput {
      font-size: 0;
    }
    &::file-selector-button {
      display: none;
    }
  }
}
.Editor {
  border: 1px solid rgba($remedy-Global--color-white, 0.06);
  &__btn {
    flex: 0 0 3.2rem;
    max-width: 3.2rem;
    height: 3.2rem;
    background-position: center;
    background-size: 2rem;
    background-repeat: no-repeat;
    &--bold {
      background-image: url("../../assets/images/icon-editor-bold.svg");
    }
    &--h1 {
      background-image: url("../../assets/images/icon-editor-h1.svg");
    }
    &--h2 {
      background-image: url("../../assets/images/icon-editor-h2.svg");
    }
    &--line {
      background-image: url("../../assets/images/icon-editor-line.svg");
    }
    &--link {
      background-image: url("../../assets/images/icon-editor-link.svg");
    }
    &--ul {
      background-image: url("../../assets/images/icon-editor-ul.svg");
    }
    &--ol {
      background-image: url("../../assets/images/icon-editor-ol.svg");
    }
    &--link {
      background-image: url("../../assets/images/icon-editor-link.svg");
    }
  }
}

// TEST
.Test {
  padding: 50px;
}

.Test__mixins {
  background: green;

  /* KEEP IT MOBILE-FIRST! */
  @include remedy-media-query(lg, Infinity) {
    background: red;
  }

  @include remedy-media-query(xl, Infinity) {
    background: blue;
  }
}

.Test__fonts {
}

.Test__fonts-item {
  margin-bottom: 1rem;

  &--size10 {
    font-size: 1rem;
  }

  &--size16 {
    font-size: 1.6rem;
  }

  &--size20 {
    font-size: 2rem;
  }
}

.Test__variables-font {
  font-size: 1.6rem;
  font-weight: 500;

  &--montreal {
    font-family: var(--remedy-Global--font-text);
  }

  &--telegraf {
    font-family: var(--remedy-Global--font-header);
  }
}

.Test__variables-color {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  box-shadow: inset 0 0 0 1px rgba($remedy-Global--color-white, 0.5);

  &--white {
    background: $remedy-Global--color-white;
  }
  &--gray {
    background: $remedy-Global--color-gray;
  }
  &--dark-1 {
    background: $remedy-Global--color-dark-1;
  }
  &--dark-2 {
    background: $remedy-Global--color-dark-2;
  }
  &--dark-3 {
    background: $remedy-Global--color-dark-3;
  }
  &--green {
    background: $remedy-Global--color-green;
  }
}
