@import '../../styles/variables';
@import '../../styles/mixins';





/* ПИШИТЕ ВАШ КОД ЗДЕСЬ */





.Test {
  padding: 50px;
}

.Test__mixins {
  background: green;

  /* KEEP IT MOBILE-FIRST! */
  @include remedy-media-query(lg, Infinity) {
    background: red;
  }

  @include remedy-media-query(xl, Infinity) {
    background: blue;
  }
}

.Test__fonts {}

.Test__fonts-item {
  margin-bottom: 1rem;

  &--size10 {
    font-size: 1rem;
  }

  &--size16 {
    font-size: 1.6rem;
  }

  &--size20 {
    font-size: 2rem;
  }
}

.Test__variables-font {
  font-size: 1.6rem;
  font-weight: 500;

  &--montreal {
    font-family: var(--remedy-Global--font-text);
  }

  &--telegraf {
    font-family: var(--remedy-Global--font-header);
  }
}

.Test__variables-color {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  box-shadow: inset 0 0 0 1px rgba($remedy-Global--color-white, 0.5);

  &--white { background: $remedy-Global--color-white; }
  &--gray { background: $remedy-Global--color-gray; }
  &--dark-1 { background: $remedy-Global--color-dark-1; }
  &--dark-2 { background: $remedy-Global--color-dark-2; }
  &--dark-3 { background: $remedy-Global--color-dark-3; }
  &--green { background: $remedy-Global--color-green; }
}
