@font-face {
  font-family: 'PP Telegraf';
  font-style: normal;
  font-weight: 200 900;
  src:
    url('../assets/fonts/PPTelegraf-Variable.woff') format('woff'),
    url('../assets/fonts/PPTelegraf-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 200 800;
  src:
    url('../assets/fonts/PPNeueMontreal-Variable.woff') format('woff'),
    url('../assets/fonts/PPNeueMontreal-Variable.woff2') format('woff2');
}
