/* Colors (Sass vars rather than CSS vars in order to be able to use them inside Sass functions) */
$remedy-Global--color-white: #FFFFFF;
$remedy-Global--color-gray: #808080;
$remedy-Global--color-dark-1: #464646;
$remedy-Global--color-dark-2: #252525;
$remedy-Global--color-dark-3: #181818;
$remedy-Global--color-green: #80EDB0;
