@import './variables';
@import './mixins';


.UIInput {
  background: $remedy-Global--color-dark-3;
  border: 0;
  border-radius: 0 !important;
  outline: 1px solid rgba($remedy-Global--color-white, 0.06);
  outline-offset: 0;
  color: $remedy-Global--color-white;
  padding: 1rem;
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: var(--remedy-Global--font-text);
  transition: outline-color 200ms;
  -webkit-appearance: none;

  &:focus {
    outline-color: rgba($remedy-Global--color-white, 0.18);
  }

  &::placeholder {
    color: #525252;
  }

  &::-webkit-search-cancel-button{
    display: none;
  }
}


.UIButton {
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 1.05rem 3.2rem;
  border: 0;
  text-decoration: none;
  font-family: var(--remedy-Global--font-text);
  font-weight: 500;
  transition: box-shadow 300ms, background-color 150ms, color 150ms;
  background: $remedy-Global--color-dark-3;
  color: $remedy-Global--color-white;

  &:hover {
    box-shadow: 0 8px 16px rgba($remedy-Global--color-green, 0.05);
  }

  /* Colors */
  &--green {
    background: $remedy-Global--color-green;
    color: $remedy-Global--color-dark-2;

    &:hover {
      color: $remedy-Global--color-dark-2;
      box-shadow: 0 8px 16px rgba($remedy-Global--color-green, 0.35);
    }

    &:active {
      background: darken($remedy-Global--color-green, 8%);
      box-shadow: 0 8px 16px rgba($remedy-Global--color-green, 0.05);
    }

    &.disabled,
    &:disabled {
      background: #585858;
      color: rgba($remedy-Global--color-dark-2, 0.4);
      pointer-events: none;
      box-shadow: none;
    }
  }

  &--green-outline {
    background: $remedy-Global--color-dark-2;
    color: $remedy-Global--color-green;
    box-shadow:
      inset 0 0 0 1px $remedy-Global--color-green,
      0 0 0 transparent;

    &:hover {
      background: $remedy-Global--color-green;
      color: $remedy-Global--color-dark-2;
      box-shadow:
        inset 0 0 0 1px $remedy-Global--color-green,
        0 8px 16px rgba($remedy-Global--color-green, 0.35);
    }

    &:active {
      background: darken($remedy-Global--color-green, 8%);
      box-shadow:
        inset 0 0 0 1px $remedy-Global--color-green,
        0 8px 16px rgba($remedy-Global--color-green, 0.05);
    }

    &.disabled,
    &:disabled {
      background: #585858;
      color: rgba($remedy-Global--color-dark-2, 0.4);
      pointer-events: none;
      box-shadow: none;
    }
  }


  /* Sizes */
  &--sm {
    font-size: 1.4rem;
    padding: 0.75rem 3.2rem;
  }
}
