@import './variables';
@import './mixins';


// TODO: fix
//.remedy-cross {
//  --remedy-UICross--width: 2.2em;
//  --remedy-UICross--height: 2.2em;
//  --remedy-UICross-icon-size: 0.8em;
//  --remedy-UICross-icon-color: var(--remedy-Global--color-text);
//
//  display: inline-block;
//  position: relative;
//  width: var(--remedy-UICross--width);
//  height: var(--remedy-UICross--height);
//  cursor: pointer;
//  transition: opacity 200ms;
//
//  &:before,
//  &:after {
//    position: absolute;
//    left: 50%;
//    top: 50%;
//    content: '';
//    width: var(--remedy-UICross-icon-size);
//    height: 0.05em;
//    background: var(--remedy-UICross-icon-color);
//  }
//
//  &:before {
//    transform: translate(-50%, -50%) rotate(45deg);
//  }
//
//  &:after {
//    transform: translate(-50%, -50%) rotate(-45deg);
//  }
//
//  &:hover {
//    opacity: 0.75;
//  }
//}
//
//
//.remedy-checkbox {
//  --remedy-UICheckbox--size: 1em;
//
//  appearance: none;
//  width: var(--remedy-UICheckbox--size);
//  height: var(--remedy-UICheckbox--size);
//  border: 1px solid var(--remedy-Global--color-text-secondary);
//  border-radius: 0.2em;
//  transition: opacity 200ms;
//
//  &:hover {
//    opacity: 0.9;
//  }
//
//  &:checked {
//    //background: var(--remedy-Global--color-violet) url('../assets/images/iconCheckMark.svg') no-repeat center;
//    background-size: 60%;
//    border: 0;
//  }
//}
//
//


.UIInput {
  background: #181818;
  border: 0;
  box-shadow: 0 0 0 1px rgba($remedy-Global--color-white, 0.06);
  color: $remedy-Global--color-white;
  padding: 0.95rem 1rem;
  margin: 0;
  font-size: 1.4rem;
  font-family: var(--remedy-Global--font-text);
  transition: box-shadow 200ms;

  &:focus {
    box-shadow: 0 0 0 1px rgba($remedy-Global--color-white, 0.18);
    outline: none;
  }

  &::placeholder {
    color: #525252;
  }

  &::-webkit-search-cancel-button{
    display: none;
  }
}


.UIButton {
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 1.05rem 3.2rem;
  border: 0;
  text-decoration: none;
  font-family: var(--remedy-Global--font-text);
  font-weight: 500;
  transition: box-shadow 300ms, background-color 150ms, color 150ms;
  background: $remedy-Global--color-dark-2;
  color: $remedy-Global--color-white;

  &:hover {
    box-shadow: 0 8px 16px rgba($remedy-Global--color-green, 0.05);
  }

  /* Colors */
  &--green {
    background: $remedy-Global--color-green;
    color: $remedy-Global--color-dark-2;

    &:hover {
      color: $remedy-Global--color-dark-2;
      box-shadow: 0 8px 16px rgba($remedy-Global--color-green, 0.35);
    }

    &:focus {
      box-shadow:
        inset 0 0 0 1px $remedy-Global--color-white,
        0 8px 16px rgba($remedy-Global--color-green, 0.05);
      outline: none;
    }

    &:active {
      background: darken($remedy-Global--color-green, 8%);
      box-shadow: 0 8px 16px rgba($remedy-Global--color-green, 0.05);
    }

    &.disabled,
    &:disabled {
      background: #585858;
      color: rgba($remedy-Global--color-dark-2, 0.4);
      pointer-events: none;
      box-shadow: none;
    }
  }

  &--green-outline {
    background: $remedy-Global--color-dark-2;
    color: $remedy-Global--color-green;
    box-shadow:
      inset 0 0 0 1px $remedy-Global--color-green,
      0 0 0 transparent;

    &:hover {
      background: $remedy-Global--color-green;
      color: $remedy-Global--color-dark-2;
      box-shadow:
        inset 0 0 0 1px $remedy-Global--color-green,
        0 8px 16px rgba($remedy-Global--color-green, 0.35);
    }

    &:focus {
      box-shadow:
        inset 0 0 0 1px $remedy-Global--color-white,
        0 8px 16px rgba($remedy-Global--color-green, 0.05);
      outline: none;
    }

    &:active {
      background: darken($remedy-Global--color-green, 8%);
      box-shadow:
        inset 0 0 0 1px $remedy-Global--color-green,
        0 8px 16px rgba($remedy-Global--color-green, 0.05);
    }

    &.disabled,
    &:disabled {
      background: #585858;
      color: rgba($remedy-Global--color-dark-2, 0.4);
      pointer-events: none;
      box-shadow: none;
    }
  }


  /* Sizes */
  &--sm {
    font-size: 1.4rem;
    padding: 0.75rem 3.2rem;
  }
}
