@import '../../styles/variables';
@import '../../styles/mixins';

.Programs {
  padding: 2.5rem 3.2rem;
}

.Programs__header {
  margin-bottom: 3.2rem;

  @include remedy-media-query(lg, Infinity) {
    filter: drop-shadow(0 8px 16px rgba($remedy-Global--color-green, 0.05));
  }
}

.Programs__header-inner {
  background: $remedy-Global--color-dark-2;
  display: flex;
  align-items: center;
  padding: 2.05rem 4.8rem 2.05rem 3.2rem;
  clip-path: polygon(calc(100% - 28px) 0%, 100% 28px, 100% 100%, 0 100%, 0 0);
}

.Programs__header-title {
  font-family: var(--remedy-Global--font-header);
  font-weight: 400;
  font-size: 3.6rem;
  margin: 0;
  padding-top: 0.5rem;
}

.Programs__header-actions {
  margin-left: auto;
  padding-left: 2rem;
}

.Programs__tabs {
  display: flex;
  margin-bottom: 2.4rem;
}

.Programs__tabs-item {
  flex-grow: 1;
  text-align: center;

  &:hover {
    box-shadow: none !important;
  }

  &:focus {
    position: relative;
  }

  &.active,
  &.active:hover {
    box-shadow: inset 0 0 0 2px $remedy-Global--color-green !important;
    color: $remedy-Global--color-green;
  }
}

.Programs__toolbar {
  display: flex;
  align-items: center;
}

.Programs__toolbar-search {
  position: relative;
  flex-grow: 1;

  &:before {
    content: '';
    position: absolute;
    top: 1rem;
    left: 1.6rem;
    pointer-events: none;
    width: 2rem;
    height: 2rem;
    opacity: 0.25;
    background: {
      image: url('../../assets/images/icon-search.svg');
      repeat: no-repeat;
      position: center;
      size: contain;
    };
  }
}

.Programs__toolbar-search-input {
  width: 100%;
  padding-left: 4.8rem !important;
  box-shadow: 0 8px 16px rgba($remedy-Global--color-green, 0.05);
}

.Programs__toolbar-sort {
  width: 24%;
  box-shadow: 0 8px 16px rgba($remedy-Global--color-green, 0.05);
  margin: 0 2rem;
}

.Programs__toolbar-filters {
  width: 15%;
  font-family: var(--remedy-Global--font-text);
  font-weight: 500;
  box-shadow: 0 8px 16px rgba($remedy-Global--color-green, 0.05);
  vertical-align: middle;
  padding-left: 0 !important;
  padding-right: 0 !important;

  &:after {
    content: '';
    display: inline-block;
    margin-left: 1rem;
    width: 1.6rem;
    height: 1.5rem;
    transform: translateY(0.2rem);
    background: {
      image: url('../../assets/images/icon-filter.svg');
      size: contain;
      repeat: no-repeat;
      position: center;
    };
  }
}

.Programs__count {
  margin: 1.6rem 0;
}

.Programs__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.Programs__item {
  position: relative;
  margin-bottom: 1.6rem;
  transition: filter 150ms;

  &:has(.Programs__item-link:active) {
    &:before {
      outline: none !important;
    }
  }

  &:has(.Programs__item-link:focus) {
    &:before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      @include remedy-default-focus-outline();
    }
  }

  @include remedy-media-query(lg, Infinity) {
    filter: drop-shadow(0 8px 16px rgba($remedy-Global--color-green, 0.05));
  }
}

.Programs__item-inner {
  display: flex;
  background: $remedy-Global--color-dark-3;
  color: $remedy-Global--color-white;
  text-decoration: none;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 28px 100%, 0 calc(100% - 28px));
}

.Programs__item-link {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
}

.Programs__item-logo {
  margin: 1.6rem;
}

.Programs__item-logo-img {
  width: 7.2rem;
  height: 7.2rem;
  object-fit: cover;
}

.Programs__item-content {
  flex-grow: 1;
}

.Programs__item-primary {
  display: flex;
  align-items: center;
  margin: 1.6rem 0;
}

.Programs__item-info {
  flex-grow: 1;
  padding-right: 2rem;
}

.Programs__item-title {
  font-size: 2.2rem;
  font-weight: 500;
  padding-top: 0.3rem;
}

.Programs__item-title-reward {
  color: $remedy-Global--color-green;
  margin-left: 1.6rem;
}

.Programs__item-description {
  font-size: 2rem;
  color: $remedy-Global--color-gray;
}

.Programs__item-cta {
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}

.Programs__item-secondary {
  padding: 1.6rem 0;
  font-size: 1.4rem;
  border-top: 1px solid #2C2C2C;
  position: relative;
}

.Programs__item-secondary-initial {
  position: absolute;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
}

.Programs__item-secondary-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
}

.Programs__item-secondary-item {
  padding: 0 0 0 2.4rem;
  margin: 0;
  display: inline-block;
  background: $remedy-Global--color-dark-3;

  &:first-child {
    padding-left: 0;
    position: relative;

    &:before {
      content: '';
      width: 5rem;
      position: absolute;
      left: -5rem;
      top: -0.5rem;
      bottom: -0.5rem;
      background: linear-gradient(to right, rgba($remedy-Global--color-dark-3, 0) 0%, $remedy-Global--color-dark-3 70%);
    }
  }
}

.Programs__item-secondary-title {
  color: $remedy-Global--color-gray;
  margin-right: 0.8rem;
  font-weight: 500;
}

.Programs__item-actions {
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px 0 rgba($remedy-Global--color-green, 0.05);
  margin-left: 1.6rem;
  padding: 0 0.4rem;
}

.Programs__item-actions-item {
  width: 3.2rem;
  height: 3.2rem;
  margin-top: 1.4rem;
  cursor: pointer;
  text-indent: -100rem;
  overflow: hidden;
  transition: background-color 150ms;
  position: relative;
  z-index: 2;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: {
      position: center;
      repeat: no-repeat;
    };
  }

  &:hover {
    background-color: $remedy-Global--color-green;

    &:after {
      filter: brightness(0);
    }
  }

  &--view:after {
    background-image: url('../../assets/images/icon-program-view.svg');
    background-size: 1.6rem;
  }

  &--upvote:after {
    background-image: url('../../assets/images/icon-program-upvote.svg');
    background-size: 1.6rem;
  }

  &--bookmark:after {
    background-image: url('../../assets/images/icon-program-bookmark.svg');
    background-size: 1.4rem;
    background-position-x: 55%;

    .Programs__item--bookmarked & {
      background-position-x: 50%;
      background-image: url('../../assets/images/icon-program-bookmarked.svg');
      background-size: 1.2rem;
    }
  }
}
